{
    "app_name" : "Your Application Display Name",
    "smtp" : {
        "host": "your.mail.server",
        "port": 993,
        "username": "some@email.address",
        "password": "email_address_pw"
    }
}